body {
  position: relative;
}

.navbar-toggler-icon {
  background-color: rgba(255, 255, 255, 0.811);
  border-radius: 2px;
  box-shadow: 2px 2px 10px #000;
}

/* Set hero section to start at the same spot as the navbar */
#hero {
  /* position: absolute; */
  top: 0;
  left: 0;
}

.hero-container {
  background-image: linear-gradient(
      rgba(34, 25, 0, 0.25),
      rgba(34, 25, 0, 0.25)
    ),
    url("../img/hero-img-sqshed.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  /* height: 100% !important; */
}

/* ???? */
/* .hero-title {
  text-shadow: 100px 100px 10px #111010eb !important;
} */

#about {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: rgba(210, 161, 0, 0.607);
}

/* .cta-container {
  background-image: linear-gradient(
      rgba(211, 211, 211, 0.83),
      rgba(196, 196, 196, 0.297)
    ),
    url("img/floriane-vita-FyD3OWBuXnY-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  
} */

.cta-container {
  background-image: linear-gradient(
      rgba(34, 25, 0, 0.83),
      rgba(34, 25, 0, 0.83)
    ),
    url("../img/cta-img-sqshed.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  /* height: 100% !important; */
}

.btn-gold:link,
.btn-gold:visited {
  background-color: #d4af37;
}

.btn-gold:hover,
.btn-gold:active {
  background-color: #b29126;
}

/* Didn't use */
.text-gold {
  /* color: #fad25a; */
  /* color: #ffee75; */
  /* color: #c4a233; */
  /* color: #b0912e; */
  color: #a88b2c;
}
